[submodule "vendor/StartAtLoginController"]
	path = vendor/StartAtLoginController
	url = https://github.com/alexzielenski/StartAtLoginController.git
[submodule "vendor/libcec"]
	path = vendor/libcec
	url = git@github.com:rope/libcec.git
[submodule "vendor/KNSharedCodeRepository"]
	path = vendor/KNSharedCodeRepository
	url = https://github.com/iKenndac/KNSharedCodeRepository.git
	
[submodule "vendor/p8-platform"]
	path = vendor/p8-platform
	url = git@github.com:rope/platform.git
